  .content {
      height: calc(100% - 72px);
      width: 100%;
  }

  .content .tab {
      width: 88px;
      height: 100%;
      float: left;
      background-color: #333;
      color: #c7c7c7;
      font-size: 16px;
  }

  .tab ul li {
      height: 88px;
      text-align: center;
      list-style: none;
      cursor: pointer;
      padding-top: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
  }

  .content .main {
      float: right;
      width: calc(100% - 100px);
      height: 100%;
      padding: 0 10px 0 0;
      box-sizing: border-box;
  }

  .main>div {
      height: 100%;
      width: 100%;
  }

  /*-------------------------------------概况---------------------------------------------*/

  .generalSituationOf .figure {
      height: 100%;
      width: 25%;
      float: left;
  }

  .generalSituationOf .map {
      width: 50%;
      height: 100%;
      min-width: 600px;
      min-height: 620px;
      float: left;
  }

  /*------------------------------begin-图表公用---------------------------------*/

  .figure .figure-block {
      height: calc(100%/3 - 10px);
      width: 100%;
      background: url("../../images/figure-bc.png") no-repeat left 0;
      background-size: 100% 100%;
      margin-top: 7px;
      box-sizing: border-box;
  }

  .figure div h3 {
      height: 25px;
      line-height: 25px;
      text-align: center;
  }

  .figure div div {
      height: calc(100% - 25px);
      width: 100%;
  }

  .figure-title {
      cursor: pointer;
  }

  .figure-title:hover {
      color: #fba420;
  }

  /*------------------------------end-图表公用---------------------------------*/

  /*-------------------------------公安系统---------------------------------*/

  .security .figure {
      width: 40%;
      height: 100%;
      float: left;
  }

  .security .map {
      width: 60%;
      height: 100%;
      float: right;
  }

  /*-------------------------------交通系统---------------------------------*/

  .traffic .figure {
      height: 100%;
      width: 25%;
      float: left;
  }

  .traffic .map {
      width: 50%;
      height: 100%;
      min-width: 600px;
      min-height: 620px;
      float: left;
  }

  /*-------------------------------自定义地区24小时车流量(详情)---------------------------------*/

  .customDay .cTop {
      width: 100%;
      height: 65%;
  }

  .customDay .cTop .cAside {
      width: 25%;
      height: 100%;
      float: left;
      background: url('../../images/figure-bc.png') no-repeat 0 0;
      background-size: 100% 100%;
  }

  .customDay .cTop .cAside h3 {
      height: 25px;
      line-height: 25px;
      text-align: center;
  }

  .customDay .cTop .cAside div {
      height: calc(100% - 25px);
      width: 100%;
  }

  .customDay .cTop .cCenter {
      width: 50%;
      height: 100%;
      float: left;
  }

  .customDay .cBottom {
      width: 100%;
      height: 35%;
  }

  .customDay .cBottom h3 {
      height: 25px;
      line-height: 25px;
      text-align: center;
  }

  .customDay .cBottom div {
      height: calc(100% - 25px);
      width: 100%;
  }

  /*-------------------------------全省电子警察在线情况(详情)---------------------------------*/

  .allEP .aepLeft {
      width: 40%;
      height: 100%;
      float: left;
      background: url('../../images/figure-bc.png') no-repeat 0 0;
      background-size: 100% 100%;
  }

  .allEP .aepLeft h3 {
      height: 25px;
      line-height: 25px;
      text-align: center;
  }

  .allEP .aepLeft div {
      height: calc(100% - 25px);
      width: 100%;
  }

  .allEP .aepRight {
      width: 60%;
      height: 100%;
      float: left;
  }

  /* -------------------------------全省各区域接入电子警察资源统计(详情)--------------------------------- */

  .partEP .pepLeft {
      width: 40%;
      height: 100%;
      float: left;
      background: url('../../images/figure-bc.png') no-repeat 0 0;
      background-size: 100% 100%;
  }

  .partEP .pepLeft h3 {
      height: 25px;
      line-height: 25px;
      text-align: center;
  }

  .partEP .pepLeft div {
      height: calc(100% - 25px);
      width: 100%;
  }

  .partEP .pepRight {
      width: 60%;
      height: 100%;
      float: left;
  }