/* 人员基本信息 */
.user-basic-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    background-image: url("../img/chart_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.user-basic-info img {
    width: 80px;
    height: 80px;
    margin: 5px;
    background-size: contain;
    background-image: url("../img/head.png");
}

table {
    font-size: 15px;
    border-collapse: collapse;
}

td.key {
    padding-left: 15px;
    text-align: right;
    font-weight: bold;
}

td.value {
    text-align: left;
}

/* 人员关联信息 */
.user-relative-info {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-relative-info-item-left {
	height: calc(100% - 150px);
    flex: 2;
    margin: 0px 5px;
    background-image: url("../img/map_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.user-relative-info-item-right {
    height: calc(100% - 150px);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* 社会关系神经图 */
.chart  {
    width: 100%;
    height: calc(100% - 150px);
}

/* 个人近期出境，出省行为分析 */
div.trip {
    height: 200px;
    overflow: auto;
}

.user-relative-info-item-right li {
    margin: 5px 8px;
    font-size: 15px;
}

/* 历史违法、违章行为 */
.user-relative-info-item-right ol {
    margin: 0;
    padding: 0;
}

.bottom-margin {
	margin-bottom: 5px;
}

.list-example {
    flex: 1;
    margin-right: 5px;
    background-image: url("../img/chart_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* 名下情况 */
.chart-example {
    flex: 1;
    background-image: url("../img/chart_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}