body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.no_service {
	height: inherit;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame {
	/*width: calc(100% - 154px);*/
	width: 100%;
	height: 100%;
}